body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Celeste claro */
    color: #0277bd; /* Azul oscuro */
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #01579b; /* Azul más oscuro */
}

.account-selector button {
    background-color: #03a9f4; /* Celeste */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.account-selector button:hover {
    background-color: #0288d1; /* Azul más fuerte */
}

#task-section {
    margin-top: 20px;
}

#day-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.day-list {
    width: 250px;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff; /* Blanco */
    border: 1px solid #01579b;
    border-radius: 5px;
    text-align: left;
}

h3 {
    color: #0277bd;
    margin-bottom: 5px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #01579b;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.task-item.completed {
    text-decoration: line-through;
}

.task-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.task-buttons button {
    background-color: #0277bd;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}